body {
    margin: 0;
    overflow: hidden;
}

.red { background-color: rgb(230, 0, 0) }
.blue { background-color: rgb(40, 0, 220) }
.orange { background-color: rgb(255, 165, 0) }
.green { background-color: rgb(0, 200, 0) }

.main-container {
    display: grid;
    position: absolute;
    width: 100%;
    height: 100%;
    grid-template-rows: 1fr 11fr 4fr 1fr;
}

#show-answers {
    display: grid;
    grid-auto-flow: column;
}

.answer-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

#alternatives-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(50px, 1fr));
}

.answer-footer {
    border-top: 1px solid black;
}